<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<h1>HEY THIS IS INDEX PAGE</h1>
<a href="/login">login</a>
<br><br>
<a href="/view-category">view category</a>
<br><br>
<a href="/category-mapping">category mapping</a>
<br><br>
<a href="/attribute-mapping">attribute-mapping</a>
<br><br>
<a href="/product-upload">product-upload</a>
<br><br>
<a href="/bulk-category">bulk-category</a>
<br><br>
<a href="/attribute-upload">attribute-upload</a>
<br><br>
<a href="/category-category-mapping">category-category-mapping</a>
<br><br>
<a href="/category-attribute-mapping">category-attribute-mapping</a>
<br><br>
<a href="/attribute-attribute-mapping">attribute-attribute-mapping</a>
<br><br>
<a href="/lov-lov-mapping">lov-lov-mapping</a>
<br><br>
<a href="/lov-upload">lov-upload</a>
<br><br>
<a href="/navigation">navigation</a>
<br><br>
<a href="/defining-attribute">defining-attribute</a>
<br><br>
<a href="/processing">processing</a>
<br><br>
<a href="/batch-allocation">allocation</a>
<br><br>
<a href="/view-allocation">view-allocation</a>
<br><br>
<a href="/product-upload2">product-upload2</a>
</body>
</html>